<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" media="screen" href="../static/bootstrap.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="container">
        <form action="/منغير توليد حروف" method="POST">
            <div class="form-group  ">
            <span class="text-center "> <label class="form-control-plaintext " ><h1>IR Projects</h1> </label></span>
                <input type="text" class="form-control go " name="queryinput" placeholder="Enter the query ex: A B B C .etc" required>
        
                <input type="submit" class="btn btn-success" value="search" >
            </div>
        </form>
    
        </table>
</body>
</html>